name: Deploy React Portfolio

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install and Build
        # This line tells the robot to walk into the 'first-project' folder first
        working-directory: ./first-project
        run: |
          npm install --legacy-peer-deps
          CI=false npm run build
        
      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # This tells GitHub the final website is inside that folder's build directory
          path: first-project/build/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
